

.container {
    width: 100%;
    background-color: #E2BF95;
    padding: 1em;
   ;


    .menu{
      justify-content: center;
    }

    .li{
        margin: 1em;
    }

    .logo{
   
        justify-content: center;
    }

    .carrito{
   
    }

}